@model OnlineScrum.Models.Register
@{
    ViewBag.Title = "Register";
}

<h2>User Register</h2>


@using (@Html.BeginForm("Register", "Register", FormMethod.Post))
{
    <div class="register-editor">
        <div class="form-group row" style="display:inline">

            @Html.LabelFor(model => model.Username, new { @class = "col-md-2 col-form-label" })
        </div>
        <div style="display:inline" class="col-md-6">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <br />
        <br />

        <div class="form-group row" style="display:inline">

            @Html.LabelFor(model => model.Email, new { @class = "col-md-2 col-form-label" })
        </div>
        <div style="display:inline" class="col-md-6">
            @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <br />
        <br />

        <div class="form-group row" style="display:inline">
            @Html.LabelFor(model => model.Password, new { @class = "col-md-2 col-form-label" })
        </div>
        <div style="display:inline" class="col-md-6">
            @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <br />
        <br />

        <div class="form-group row" style="display:inline">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
        </div>
        <div style="display:inline" class="col-md-6">
            @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <br />
        <br />

        <div class="form-group row" style="display:inline">
            @Html.LabelFor(model => model.Role, new { @class = "col-md-2 col-form-label" })
        </div>
        <div style="display:inline" class="col-md-6">
            @Html.RadioButtonFor(model => model.Role, "ScrumMaster") <span>Scrum Master</span> <br />
            @Html.RadioButtonFor(model => model.Role, "Developer") <span>Developer</span> <br />
            @Html.ValidationMessageFor(model => model.Role)
        </div>
        <br />
        <br />
        <br />
        <br />

        @if (@ViewBag.Error != "" && @ViewBag.Error != null)
        {
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> @ViewBag.Error
            </div>

        }
        @Html.ValidationSummary()

        <input type="submit" value="Submit" class="btn btn-primary" />
        <a href="/Login" class="btn btn-link" role="button">Login</a>
    </div>

}
<br />



