@model OnlineScrum.Models.Login

@{
    ViewBag.Title = "Login";
}

<div class="row LoginHeader">
    <h2>Login</h2>
</div>

<div id="signInForm" class="row ">
    @using (@Html.BeginForm("Login", "Login", FormMethod.Post))
    {

        <div class="login-editor">
            <div class="form-group row" style="display:inline">

                @Html.LabelFor(model => model.Email, new {@class = "col-md-2 col-form-label" })
            </div>
            <div style="display:inline" class="col-md-6">
                @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <br />
            <br />

            <div class="form-group row" style="display:inline">
                @Html.LabelFor(model => model.Password, new { @class = "col-md-2 col-form-label" })
            </div>
            <div style="display:inline" class="col-md-6">
                @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <br />
            <br />
            <br />

            @if (@ViewBag.Error != "" && @ViewBag.Error != null)
            {
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> @ViewBag.Error
            </div>

            }
            

            @Html.ValidationSummary()

            <input type="submit" value="Submit" class="btn btn-primary" />
            <a href="/register" class="btn btn-link" role="button">Register</a>
        </div>
    }
    <br />
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Note:</strong> If you wish to experiment with an already existing project, login with the credentials (Email: "1@@g.c", Password: "1") and you can use the mock project created.
    </div>
</div>



