@using OnlineScrum.BusinessLayer
@using OnlineScrum.Models

@{
    ViewBag.Title = "Product Backlog";
}

<div class="col-md-9">
    <h2>Product Backlog</h2>
</div>
<br />
<div class="pull-right">
    <a class="btn btn-primary" href="/project/create_item">Create Item</a>
    <a data-trigger="focus" role="button" tabindex="0" data-placement="bottom" class="btn btn-info" data-toggle="popover" style="text-align: left;" title="Sprints" data-content="This is the Sprint Management page. Click to the left to create a new sprint or review your existing sprints">Help</a>
</div>
<link href="@Url.Content("~/Content/SprintMenu.css")" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">


        @using (@Html.BeginForm("Items2", "Project", FormMethod.Post))
        {
            bool t = false;
            int i = 0;
            <div class="col-md-6 container">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">
                            Items open
                        </h1>
                    </div>
                    @foreach (KeyValuePair<Sprint, List<Item>> sprint in ViewBag.Sprints)
                    {
                        if (sprint.Value.Count() == 0)
                        {
                            continue;
                        }
                        if (sprint.Key.FinishDate.Date < DateTime.Now.Date && sprint.Value.Count(m => m.ItemStatus == "Delayed") == 0)
                        {
                            continue;
                        }
                        <div class="row">
                            <h4 class="col-md-offset-1 col-md-6">@sprint.Key.SprintName</h4>
                            @if (i == 0)
                            {
                                <input type="submit" value="Save all changes" class="col-md-5 btn btn-link"/>
                            }
                        </div>
                        <div id="container" class="panel-body">
                            @foreach (var item in sprint.Value)
                            {
                                if (item.ItemStatus != "Closed")
                                {
                                    t = true;
                                    <div class="col-md-12 row">
                                        <input type="hidden" name="item[@i].Item" value="@item.ItemID"/>
                                        <div class="col-md-4" style="padding-top: 7px">
                                            @item.ItemName
                                        </div>
                                        <div class="col-md-3 text-center" style="padding-top: 7px">
                                            @if (@item.ItemStatus == "Developing")
                                            {
                                                <span class='badge badge-primary'>Developing</span>
                                            }
                                            else if (@item.ItemStatus == "Testing")
                                            {
                                                <span class='badge badge-success'>Testing</span>
                                            }
                                            else
                                            {
                                                <span class='badge badge-warning'>Delayed</span>
                                            }
                                        </div>
                                        <div class="col-md-5">
                                            <select data-val="true" data-val-required="Email Address is required" type="email" class="form-control" name="item[@i].Sprint">
                                                <option selected disabled>Select sprint</option>
                                                @if (ViewBag.Sprints != null)
                                                {
                                                    foreach (var s in ((Dictionary<Sprint, List<Item>>) ViewBag.Sprints).Keys.ToList())
                                                    {
                                                        if (s.FinishDate.Date < DateTime.Now.Date)
                                                        {
                                                            continue;
                                                        }
                                                        <option @(s.SprintName == sprint.Key.SprintName ? "selected" : "")>@s.SprintName</option>
                                                    }
                                                }
                                            </select>
                                            <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                        </div>
                                        @{ i++; }
                                        <br/>
                                        <br/>
                                        <hr style="margin-top: 0px; margin-bottom: 5px;"/>
                                    </div>
                                }
                            }
                        </div>
                    }
                    @if (!t)
                    {
                        <h5 class="text-center">Here will be items assigned to Sprints that have not been closed.</h5>
                    }
                </div>
            </div>
        }

        @using (@Html.BeginForm("Items2", "Project", FormMethod.Post))
        {
            var i = 0;
            <div class="col-md-6 container">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <h1 class="panel-title text-center">
                                Sprintless Items
                            </h1>
                        </div>
                    </div>
                    @if (ViewBag.SprintlessItems.Count != null && ViewBag.SprintlessItems.Count != 0)
                    {
                        <div class="row">
                            <h4 class="col-md-offset-1 col-md-8">Assign Items to a Sprint</h4>
                            <input type="submit" value="Save" class="col-md-2 btn btn-link"/>
                        </div>

                        <div class="container panel-body">
                            @foreach (var item in ViewBag.SprintlessItems)
                            {
                                <div class="col-md-12">
                                    <input type="hidden" name="item[@i].Item" value="@item.ItemID"/>
                                    <div class="col-md-6" style="padding-top: 7px">
                                        @item.ItemName
                                    </div>
                                    <div class="col-md-6">
                                        <select data-val="true" data-val-required="Email Address is required" type="email" class="form-control" name="item[@i].Sprint">
                                            <option selected disabled>Select sprint</option>
                                            @if (ViewBag.Sprints != null)
                                            {
                                                foreach (Sprint s in ViewBag.SprintsAvailable)
                                                {
                                                    if (s.FinishDate.Date < DateTime.Now.Date)
                                                    {
                                                        continue;
                                                    }
                                                    <option>@s.SprintName</option>
                                                }
                                            }
                                        </select>
                                        <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                    </div>
                                    @{ i++; }
                                    <br/>
                                    <br/>
                                    <hr style="margin-top: 0px; margin-bottom: 5px;"/>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <h5 class="text-center">Here will be items not assigned to Sprints.</h5>
                        <h5 class="text-center">To create an item without a Sprint, <a href="/project/create_item/">click here</a></h5>

                    }
                </div>
            </div>
        }
    </div>
</div>

<div id="helpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">What is a Sprint?</h4>
            </div>
            <div class="modal-body">
                <p>Sprint is this</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="@Url.Content("~/Scripts/Cookie.js")" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        if (!checkCookie("BacklogHelp")) {
            $("#helpModal").modal('show');
            setCookie("BacklogHelp", "true", 100);
        }
    });
</script>