@model OnlineScrum.Models.Project
@{
    ViewBag.Title = "Create_Project";
}

<div class="row">
    <div class="col-md-9">
        <h2>
            Create Project
        </h2>
    </div>
</div>
<div class="col-md-8">
    @using (@Html.BeginForm("Dashboard", "new_project", FormMethod.Post))
    {

        <div class="login-editor">
            <div class="row">
                <div class="form-group row" style="display: inline">

                    @Html.LabelFor(model => model.Name, new { @class = "col-md-2 col-form-label" })
                </div>
                <div style="display: inline" class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <br />
                <br />

                <div class="form-group row" style="display: inline">

                    @Html.LabelFor(model => model.Description, new { @class = "col-md-2 col-form-label" })
                </div>
                <div style="display: inline" class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                <br />
                <br />

                <div class="form-group row" style="display: inline">

                    @Html.LabelFor(model => model.DevTeamList, new { @class = "col-md-3 col-form-label" })
                    <p class="glyphicon glyphicon-plus-sign" onclick="myFunction()"></p>
                </div>
                @{
                    for (var i = 0; i < 20; i++)
                    {
                        <div style="display: @(i == 0 ? "inline" : "none")" class="col-md-10" id="member@(i)">
                            @Html.TextBoxFor(model => model.DevTeamList[i], new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(model => model.DevTeamList)
                        </div>
                    }
                }
                <br />
                <br />
            </div><br />

            <div class="row">
                @if (ViewBag.Error != "" && ViewBag.Error != null)
                {
                    <div class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> @ViewBag.Error
                    </div>

                }
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>

                    }
</div>
<div class="well col-md-4">
    <p>According to the <a href="https://www.scrumalliance.org/"><i>ScrumAlliance</i></a>, development team are between 5 and 9 people.</p>
    <p>Note: Only Scrum Masters can create projects!</p>
</div>

<script>
    var counter = 1;
    function myFunction() {
        document.getElementById('member' + counter).style.display = 'inline';
        counter++;
    }
</script>
