@using OnlineScrum.Models
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OnlineScrum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <style>
        @@media screen and (min-width: 768px) {
            .modal-lg {
                width: 1000px;
            }

            .modal-sm {
                width: 300px;
            }
        }

        .act {
            background-color: #4CAF50;
            color: red;
        }

        .popover {
            width: 1000px;
        }

        .modal .modal-backdrop{
            z-index:500
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top" data-container="body"  style="z-index: 5;background-color: #272b2b">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OnlineScrum", "Home", "Dashboard", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["UserInfo"] != null)
                    {
                        <li class="@(ViewBag.Link == "Home" ? "active" : "")"><a href="/dashboard" style="@(ViewBag.Link == "Home" ? "background-color: #4CAF50;color: white;" : "")">Home</a></li>
                        <li class="@(ViewBag.Link == "Project" ? "active" : "")"><a href="/project" style="@(ViewBag.Link == "Project" ? "background-color: #4CAF50;color: white;" : "")">Project</a></li>
                    }
                    else
                    {
                        <li class="@(ViewBag.Link == "DashboardHome" ? "active" : "")"><a href="/home" style="@(ViewBag.Link == "DashboardHome" ? "background-color: #4CAF50;color: white;" : "")">Home</a></li>
                    }
                    <li class="@(ViewBag.Link == "About" ? "active" : "")"><a href="/about" style="@(ViewBag.Link == "About" ? "background-color: #4CAF50;color: white;" : "")">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{
                        if (Session["UserInfo"] != null)
                        {
                            var count = 0;
                            @*TODO z-index with sprint tabs*@
                            var list = "<ul style='z-index:1234567899' class='list-group'>";
                            if (Session["Meetings"] == null)
                            {

                            }
                            else if (((List<Meeting>)Session["Meetings"]).Count == 0)
                            {
                                list = "";
                            }
                            else
                            {
                                foreach (var meet in (List<Meeting>)Session["Meetings"])
                                {
                                    if (meet.Time > DateTime.Now && meet.Time < DateTime.Now.AddHours(1))
                                    {
                                        list += "<li style='width:100%' class='list-group-item'>" + @meet.MeetingType + " Meeting at " + @meet.Time.ToShortTimeString() + " in " + meet.Location + ". <a href='/project/sprint/" + meet.SprintID + "/meetings'>Details</a></li>";
                                        count++;
                                    }
                                }
                                list += "</ul>";
                            }
                            if (count == 0)
                            {
                                list = "<h5 class=\"text-center\">No meetings soon!</h5>";
                            }
                            <li class=""><a>@(((User)Session["UserInfo"])?.Username) - @(((User)Session["UserInfo"])?.Role)</a></li>
                            if (Session["Meetings"] != null)
                            {
                                <li>
                                    <a style="height: 50px" data-trigger="focus" role="button" tabindex="0" data-placement="bottom" class="btn btn-link" data-toggle="popover" data-html="true" style="text-align: left;" data-content="@list">
                                        <img style="height: 20px;" src="~/Images/reminder.png" />
                                        <span style="background: @(count == 0 ? "white" : "red"); position: relative; top: -10px; left: -8px;" class="badge badge-notify"><span style="color:@(count==0 ? "black" : "white")">@count</span></span>
                                    </a>
                                </li>
                            }
                            <li><a href="~/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                        }
                        else
                        {
                            <li><a href="~/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="~/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        }
                    }
                </ul>

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div class="container body-content">
        @RenderBody()
        @* TODO FIXME FOOTER *@
        @*<div style="height: 70px; bottom:0;position:fixed;" class="navbar navbar-bottom">
                <hr />
                <footer align="center">
                    <p>@DateTime.Now.Year - OnlineScrum</p>
                </footer>
            </div>*@
    </div>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })


    </script>

    <script type="text/javascript">
        window.cookieconsent_options = { "message": "This website uses cookies to ensure you get the best experience on our website", "dismiss": "Got it!", "learnMore": "More info", "link": null, "theme": "dark-bottom" };
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>

</body>
</html>
