
@{
    ViewBag.Title = "Meetings";
}
<link href="@Url.Content("~/Content/SprintMenu.css")" rel="stylesheet" />

<div class="col-md-12" style="z-index:1000;background-color: white;position: fixed;">
    <br />
    <div class="tab col-md-offset-2">
        <ul class="nav nav-tabs" style="border-bottom:0px solid transparent">
            <li role="presentation"><a href="@Url.Action("Home", "Sprint")">Overview</a></li>
            <li role="presentation"><a href="@Url.Action("Items", "Sprint")">Items</a></li>
            <li role="presentation" class="active"><a href="@Url.Action("Meetings", "Sprint")">Meetings</a></li>
            <li role="presentation"><a href="@Url.Action("Statistics", "Sprint")">Statistics</a></li>
            <li role="presentation"><a href="#">Settings</a></li>
        </ul>
    </div>
</div>

<div style="overflow: auto;padding-top: 75px">
    <div class="col-md-9">
        <h2>Meetings</h2>
    </div>
    <br />
    <div class="pull-right">
        <a data-trigger="focus" role="button" tabindex="0" data-placement="bottom" class="btn btn-info" data-toggle="popover" style="text-align: left;" title="Sprints" data-content="This is the Sprint Management page. Click to the left to create a new sprint or review your existing sprints">Help</a>
    </div>
</div>

<br />
@using (Ajax.BeginForm("Create_Meeting", "Sprint", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "empList" }))
{
    @Html.Partial("MeetingList")
}

@Html.Partial("ModalView")

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>*@
@*<script src=@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js") type="text/javascript"></script>*@
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

</script>

<div id="helpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">What is a Sprint?</h4>
            </div>
            <div class="modal-body">
                <p>Sprint is this</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="@Url.Content("~/Scripts/Cookie.js")" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        if (!checkCookie("MeetingsHelp")) {
            $("#helpModal").modal('show');
            setCookie("MeetingsHelp", "true", 100);
        }
    });
</script>